* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root {
	--bg-color: #fff;
	--text-color: #19B20C;
	--second-color: #000000;
	--main-color: #6e54fa;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 30px 18%;
	transition: ease .40s;
}

.logo {
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
}

.navbar {
	display: flex;
}

.navbar a {
	color: var(--second-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}

.navbar a:hover {
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}

#menu-icon {
	color: var(--bg-color);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}

section {
	padding: 80px 18%;
}

.home {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 20rem;
}

.home .box {
	flex: 20rem;
	text-align: center;
	padding: 2rem;
	background: #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.home .box .image video {
	width: 100%;
	height: 100%
}


.home-text h1 {
	font-size: var(--big-font);
	line-height: 1.2;
	color: var(--second-color);
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 4px;
	margin-bottom: 20px;
}

.home-text span {
	color: var(--text-color);
}

.home-text p {
	color: var(--second-color);
	font-size: 20px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
}

.home-btn {
	display: inline-block;
	font-size: 16px;
	padding: 15px 30px;
	background: var(--text-color);
	color: var(--bg-color);
	border-radius: 4px;
	transition: ease .40s;
	border-radius: .9rem;
	box-shadow: 1 .5rem 1rem rgba(0, 0, 0, .1);
}

.home-btn:hover {
	background: var(--text-color);
	transform: scale(1.1);
}


header.sticky {
	background: var(--bg-color);
	padding: 10px 18%;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
	color: var(--text-color);
}

.sticky .navbar a {
	color: var(--text-color);
}

.text h2 {
	font-size: var(--h2-font);
	line-height: 1.1;
}

.row-items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}

.container-box {
	background: var(--bg-color);
	border: 1px solid #f0eded;
	padding: 50px 10px;
	border-radius: 4px;
	transition: all 1s ease 0s;
	cursor: pointer;
}

.container-img img {
	height: 85px;
	width: 85px;
	padding: 15px;
	background: var(--bg-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
	margin-bottom: 15px;
	cursor: pointer;
}

.container-box h4 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 8px;
}

.container-box p {
	font-size: 15px;
	color: var(--second-color);
}

.container-box:hover {
	box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
	border: 1px solid transparent;
	transform: translateY(-3px);
}




.portfolio .box-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.portfolio .box-container .box {
	flex: 1 1 30rem;
	height: 25rem;
	position: relative;
	overflow: hidden;
	border: 1rem solid #fff;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	background: #fff;
	border-radius: .5rem;
}

.portfolio .box-container .box img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: .5rem;
	position: relative;
	z-index: 1;
}

.portfolio .box-container .box h3 {
	position: absolute;
	bottom: .5rem;
	left: 1rem;
	font-size: 2.5rem;
	color: #333;
	text-transform: uppercase;
}

.portfolio .box-container .box button {
	height: 100%;
	width: 100%;
	object-fit: scale-down;
	position: relative;
	z-index: 1;
	border: 1rem solid #fff;
}

.portfolio .box .row-1 {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding-bottom: 2rem;
}

.portfolio .box .content {
	flex: 1 1 50rem;
}







.footer h1 {
	color: var(--bg-color);
}

.footer span {
	color: var(--bg-color);
}

.end-text i{
	font-size: 25px;
}

.end-text i span{
	margin: 12px;
	padding: 0px 15px;	
}






#akhir {
	background: var(--text-color);
}

.main {
	display: flex;
	flex-wrap: wrap;
}

.footer {
	padding: 20px 0;
}


